﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is Mat's solo project for CST-247. In this application I will allow users to add Bible verses and search for a specific verse. Please feel free to have a look around.</p>
