﻿@{
    ViewBag.Title = "Welcome to Mat's Bible Verse Application";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p><a href="http://localhost:61527/Bible/VerseEntry" class="btn btn-primary btn-lg">Add a bible verse</a></p>
    <p><a href="http://localhost:61527/Bible/SearchVerse" class="btn btn-primary btn-lg">Search for a verse</a></p>
</div>
