﻿@model IEnumerable<BibleVerseApp.Models.BibleVerse>
@*This view allows users to view all entered verses in the database.*@
@{
    ViewBag.Title = "VerseList";
}

<h2>VerseList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Testament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerseNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VerseText)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Testament)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerseNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerseText)
            </td>
        </tr>
    }
</table>
